<h2>Products</h2>

<!-- Создадим div для каждого телефона. Список телефонов хранится в product-list.component.ts -->
<div *ngFor="let product of products">

<!-- Добавим название телефона, в котором есть ссылка с атрибутом  title -->
  <h3>
    <a [title]="product.name + ' details'">
      {{ product.name }}
    </a>
  </h3>

<!-- Если у продукта есть описание, выведем его -->
  <p *ngIf="product.description">
    Description: {{ product.description  }}
  </p>

<!-- Добавим кнопку Share, обработчик которой описан в product-list.component.ts -->
  <button (click)="share()">
    Share
  </button>

</div>
